* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #131313;
  width: 100%;
  height: 100vh;
}

.main {
  width: 100%;
  height: 100%;
  background-color: #000;
  display: flex;
  justify-content: center;
  border-radius: 30%;
  align-items: flex-end;
  font-size: 18px;

  #container {
    z-index: 2;
    transform: translateY(-65px);
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    background-color: #BABABA;
    border-top: 2px solid #e8e8e8;
    border-left: 2px solid #e8e8e8;
    border-right: 2px solid #757575;
    border-bottom: 2px solid #757575;
    filter: sepia(50%);
    
    .title {
      width: 100%;
      background-color: #0000C2;
      display: flex;
      color: white;
      padding: 5px 5px 5px 8px;
      
      p {
        margin-right: 10px;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 100%;
      }
      button {
        margin-left: auto;
        background-color: #BABABA;
        border-top: 2px solid #e8e8e8;
        border-left: 2px solid #e8e8e8;
        border-right: 2px solid #757575;
        border-bottom: 2px solid #757575;
        min-width: 22px;
        height: 22px;
        color: grey;
        font-size: 15px;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    
    .content {
      padding: 10px 15px;
      display: flex;
      align-items: flex-start;
      
      .warn {
        margin-right: 15px;
        width: 40px;
        height: auto;
      }
      .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 10px;
        
        p {

        }
        .buttons {
          display: flex;
          column-gap: 10px;
          margin-top: 25px;

          button {
            background-color: #BABABA;
            border-top: 3px solid #e8e8e8;
            border-left: 3px solid #e8e8e8;
            border-right: 3px solid #757575;
            border-bottom: 3px solid #757575;
            width: 70px;
            padding: 3px 0;
            font-size: 16px;
            
            &:active {
              border-top: 3px solid #757575;
              border-left: 3px solid #757575;
              border-right: 3px solid #e8e8e8;
              border-bottom: 3px solid #e8e8e8;
            }
            
            &#no {
              &::after {
                content: "No"
              }
              &:hover {
                &::after {
                  content: "Yes"
                }
              }
            }
              
          }
        }          
      }

    
    }

    @media (max-width: 400px), (max-height: 400px) {
      transform: translateY(-35px);
      font-size: 14px;
        
      .title {
        padding: 4px 4px 4px 7px;

        button {
          min-width: 16px;
          height: 16px;
          font-size: 9px;
        }
      }
    
      .content {
        padding: 5px 8px;

        .warn {
          margin-right: 8px;
          width: 35px;
        }
        .text {
          padding-top: 10px;

          .buttons {
            column-gap: 5px;
            margin-top: 15px;

            button {
              width: 50px;
              padding: 3px 0;
              font-size: 13px;
            }
          }          
        }

      }
    }
    
  }
  
  .overlay {
    z-index: 3;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    box-shadow: inset 0 0 50px 50px #131313;
    border-radius: 30%;
    pointer-events: none;
    
    @media (max-width: 400px), (max-height: 400px) {
      box-shadow: inset 0 0 30px 30px #131313;
    }
  }
  
  .canvas_container {
    border-radius: 30%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding-bottom: 100px;
    filter: sepia(50%);
    
    canvas {
      border-radius: 30%;
    }
  }
}
